.logo {
    color: #437eeb;
    font-size: 40px;
    font-weight: 900;
}

.home-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #fff;
}

@media (max-width: 768px) { 
    .home-text p {
        font-size: 20px;
    }
}

@media (max-width: 480px) { 
    .home-text p {
        font-size: 14px; 
    }
}
